input[type=text] {
    width: 900px;
  }
  
  section {
    text-align: center;
  }

  clr-header .branding .mtdj__logo {
    height: 36px;
    margin: 0 9px 0 0;
 }
 .question-form{
  margin-left: 10px;
 }