<div class="main-container">
    <header class="header header-1">
        <div class="branding">
            <a href="..." class="nav-link">
                <img src="assets/dojo-transparent-white-outline.svg" alt="A dojo" class="mtdj__logo">
                <span class="title">Math Dojo</span>
            </a>
        </div>
        <div class="header-actions">
            <a href="..." class="nav-link nav-text">
                Login
            </a>
            <a href="..." class="nav-link nav-text mtdj__button_signup">
                Sign-up
            </a>
        </div>
    </header>
    <div class="content-container" id="primary">
        <div class="content-area">
            <div class="clr-row clr-align-items-center">
                <div class="clr-col mtdj__pagenotfound_img_container ">
                    <img src="assets/error-404-0077b8.svg" alt="A triangle containing an exclamation mark and the number 404" class="mtdj__landingpage_img">
                </div>
            </div>
            <div class="clr-row clr-align-items-center">
                <div class="clr-col mtdj__pagenotfound_maintext">
                    The page you are looking for cannot be found.
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="clr-row clr-justify-content-between">
                <div class="clr-col-4">
                    <span>Copyright &copy; 2019 Math-Dojo</span>
                </div>
                <div class="clr-col-4">
                    <div>404 icon made by
                        <a href="https://www.flaticon.com/authors/monkik" title="monkik">monkik</a>
                        from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>