<clr-main-container class="main-container">
  <app-mtdj-header></app-mtdj-header>
  <div class="content-container" id="primary">
    <div class="content-area">
      <div class="clr-row mtdj__question-feature-area" *ngIf="question$ | async as question">
        <div class="clr-col-lg-6 clr-col-12 mtdj__question-container">
          <div class="card">
            <div class="card-header">
              {{question.formattedTitle}}
            </div>
            <div class="card-block">
              <div class="card-title">
                Problem Description
              </div>
              <div class="card-text">
                {{question.body}}
              </div>
              <div class="card-img">
                <img src="..." />
              </div>
            </div>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let hint of question.hints">{{hint}}</li>
            </ul>
            <div class="card-footer">
              <button class="btn btn-sm btn-link">Show hints</button>
            </div>
          </div>
        </div>
        <div class="clr-col-lg-6  clr-col-12 mtdj__question-submission-container">
          <div class="card">
            <div class="card-header">
              Header
            </div>
            <form clrForm [formGroup]="exampleForm" clrLayout="vertical">
              <div class="card-block">
                <div class="card-title">
                  Block
                </div>
                <div class="card-text">
                  Some useful explanation on how to pick answers
                  <clr-radio-container>
                    <label>Options</label>
                    <clr-radio-wrapper>
                      <input type="radio" clrRadio name="sample" required value="option1" formControlName="sample" />
                      <label>Option 1</label>
                    </clr-radio-wrapper>
                    <clr-radio-wrapper>
                      <input type="radio" clrRadio name="sample" required value="option2" formControlName="sample" />
                      <label>Option 2</label>
                    </clr-radio-wrapper>
                    <clr-radio-wrapper>
                      <input type="radio" clrRadio name="sample" required value="option2" formControlName="sample" />
                      <label>Option 2</label>
                    </clr-radio-wrapper>
                    <clr-radio-wrapper>
                      <input type="radio" clrRadio name="sample" required value="option2" formControlName="sample" />
                      <label>Option 2</label>
                    </clr-radio-wrapper>
                    <clr-control-helper>Helper text</clr-control-helper>
                    <clr-control-error>This field is required!</clr-control-error>
                  </clr-radio-container>
                </div>
              </div>
              <div class="card-footer">
                <button class="btn btn-primary" type="submit" (click)="submit()">
                  Submit
                </button>
                <button class="btn" type="button" (click)="resetForm()">
                  Reset
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-mtdg-footer></app-mtdg-footer>
</clr-main-container>