<clr-main-container class="main-container">
  <app-mtdj-header></app-mtdj-header>
  <div class="content-container" id="primary">
    <div class="content-area">
      <div class="clr-row">
        <div class="clr-col-lg-6 clr-col-12">
          <div class="card">
            <div class="card-header">
              Question Title
            </div>
            <div class="card-block">
              <div class="card-title">
                Sub Header
              </div>
              <div class="card-text">
                What is 2 + 2?
              </div>
              <div class="card-img">
                <img src="..." />
              </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item">Hint 1: Lorem ipsum dolor.</li>
                <li class="list-group-item">Hint 2: Lorem ipsum dolor sit.</li>
                <li class="list-group-item">Hint 3: Lorem ipsum.</li>
            </ul>
            <div class="card-footer">
              <button class="btn btn-sm btn-link">Show hints</button>
            </div>
          </div>
        </div>
        <div class="clr-col-lg-6  clr-col-12"></div>
      </div>
    </div>
  </div>
  <app-mtdg-footer></app-mtdg-footer>
</clr-main-container>
