<clr-main-container class="main-container">
    <app-mtdj-header></app-mtdj-header>
    <div class="content-container" id="primary">
        <div class="content-area">
            <div class="clr-row">
                <div class="clr-col-12 clr-col-sm-8" *ngFor="let question of questions">
                    <a [routerLink]="['/questions', question.title.toLowerCase()]" class="card clickable">
                      <div class="card-block">
                        <h4 class="card-title">{{question.title}}</h4>
                        <p class="card-text">Difficulty: {{question.difficulty}}</p>
                        <div class="progress-block">
                            <label>Success Rate</label>
                            <div class="progress-static labeled">
                              <div class="progress-meter" [attr.data-value]="(question.successRate * 100).toFixed()" [attr.data-displayval]='(question.successRate * 100).toFixed()+"%"'></div>
                              <span>{{(question.successRate * 100).toFixed()}}%</span>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <app-mtdg-footer></app-mtdg-footer>
</clr-main-container>
