<clr-main-container class="main-container">
    <app-mtdj-header></app-mtdj-header>
    <div class="content-container" id="primary">
        <div class="content-area">
            <div class="clr-row">
                <div class="clr-col-12 clr-col-sm-8" *ngFor="let question of questions">
                    <a [routerLink]="['/questions', question.title.toLowerCase()]" class="card clickable">
                      <div class="card-block">
                        <h4 class="card-title">{{question.formattedTitle}}</h4>
                        <p class="card-text">Difficulty: {{question.formattedDifficulty}}</p>
                        <div class="progress-block">
                            <label>Success Rate</label>
                            <div class="progress-static labeled">
                              <div class="progress-meter" [attr.data-value]="question.formattedSuccessRate" [attr.data-displayval]='question.formattedSuccessRate+"%"'></div>
                              <span>{{question.formattedSuccessRate}}%</span>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <app-mtdg-footer></app-mtdg-footer>
</clr-main-container>
